.about{
    width: 70%;
    margin: auto;
    // color: #ffffff;
    // font-size: 1.5em;
    text-align: center;
    .name-label{
        display: inline-block;
        font-size: 2em;
        padding: 0 10px;
        font-weight: 400;
        color: #BF9F60;
        // text-decoration: underline;
    }
    .name-subheader {
        color: #727272;
        margin-top: 8px;
    }
    .about-details{
        font-size: 1em; 

        p{
            margin-top: 16px;
        }
    }
}