@mixin stitches-sprite-4($x: 0, $y: 0, $width: 0, $height: 0){
    background-position: $x $y;
    width: $width;
    height: $height;
}

.sprite {
    background-image: url(spritesheet.png);    background-repeat: no-repeat;
    display: block;

    &.sprite-facebook {
        @include stitches-sprite-4(-5px, -5px, 40px, 40px);
    }

    &.sprite-github {
        @include stitches-sprite-4(-55px, -5px, 41px, 40px);
    }

    &.sprite-instagram {
        @include stitches-sprite-4(-5px, -55px, 41px, 40px);
    }

    &.sprite-linkedin {
        @include stitches-sprite-4(-56px, -55px, 40px, 40px);
    }

    &.sprite-stackoverflow {
        @include stitches-sprite-4(-106px, -5px, 40px, 40px);
    }

    &.sprite-twitter {
        @include stitches-sprite-4(-106px, -55px, 40px, 40px);
    }
}
