@import 'app.scss';
@import 'images.scss';
@import 'responsive.scss';
@import 'animate.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$desktop-footer-height: 80px;
$mobile-footer-height: 50px;

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100vh;
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	user-select:none;
}
h1,h2,h3,h4,h5{
	font-weight: 500;
}
h1 {
	text-align: center;
}
.app{
	height: 100%;
	width: 100%;
	background-color: #000000;
    background-attachment: fixed;
    background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
	// -webkit-overflow-scrolling: touch;
	// transform: scale(1);
	overflow: hidden;
	position: relative;

	@include mobile {
		background-size: cover
	}

	@include tablet {
		background-size: cover
	}
	/*overflow: hidden;	*/
	
}
.app-content{
	height: 100%;
	// height: 100vh;//calc(100% - #{$desktop-footer-height});
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;

	@include mobile {
		background: rgba(0,0,0,0.5);
		// height: calc(100% - #{$mobile-footer-height});
	}

	/*flex: 0 1 50%;*/
}
.header-outlet {
    height: 120px;
	z-index: 100;
	align-items: flex-end;
	
	@include tablet{
		height: 100px;
	}

	@include mobile {
		 height: 70px;
	}

}
.view-outlet{
	/*height: 100%;*/
	width: 55%;
	padding-top: 1px;
	
	@include mobile {
		width: 100%;
	}
	/*flex: 0 0 60%;*/

	>div{
		@include mobile {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.menu-outlet{
	height: $desktop-footer-height;
	width: 55%;
	background: #000000;
	justify-content: center;
	position: fixed;
	bottom: 0;

	@include mobile {
		width: 100%;
		height: $mobile-footer-height;
	}
}



